@import '../../../../styles.scss';

$--sideNav-header: 45px;
$--sideNav-section: 50px;
$--sideNav-section-icon-size: 40px;

.sideNav {
    &-container {
        width: 100%;
        height: 100%;
    }
    &-header {
        height: $--sideNav-header;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        .logo {
            width: 3em;
            height: 3em;
            img {
                width: 100%;
            }
        }
        .title {
            font-size: 1.1em;
            color: $--white;
            text-shadow: 0 0 10px $--white;
        }
    }
    &-item {
        height: calc(100% - #{$--sideNav-header});
        ul {
            border-left: 1.8em solid transparent;
            padding: 0 1.2em 0 0;
        }
    }
    &-section {
        position: relative;
        height: $--sideNav-section;
        display: flex;
        align-items: center;
        border: 1px solid #274159;
        border-radius: 25px;
        padding: 0 5px;
        color: $--white;
        background-color: $--default-dark;
        gap: 1em;
        .icon {
            width: $--sideNav-section-icon-size;
            height: $--sideNav-section-icon-size;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #bfd0df4f;
            border-radius: 50%;
            svg, i {
                font-size: 1.3em;
            }
        }
        &.active {
            border: 1.5px solid $--blue;
            box-shadow: 0 0 0.8em $--blue;
            .icon {
                background-image: linear-gradient(-45deg, $--indigo, $--blue-darker);
            }
            .title {
                font-weight: bold;
            }
        }
    }
}